<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
    <!--调用日期格式化，-->
    <script type="text/javascript" src="../../js/time.js"></script>
    <style>
        .app{
             position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: 1px dashed bisque;
            width: 600px;
            height: 500px;
            text-align: center;
            margin: auto;
        }
        *{
            margin: 0;
            padding: 0;
        }
        .tableCss  {
           width: 600px;
        }
        .tableCss th {
            background-color:burlywood ;
            height: 50px;
        }
        .tableCss tr td{
            padding: 10px;
            border: 1px dashed orange;
            height: 35px;
            line-height: 35px;
        }
    </style>
</head>
<body>
<div class="app">
    <div>
        <div>
            <h1>图书管理</h1>
        </div>
        <div>
            <!--for规定绑定到哪个表单元素 -->
            <label for="id" v-focus="">编号</label>
                          <!--绑定flag-->
            <input type="text" id="id" v-model="id" v-bind:disabled="flag" v-focus >
            <label for="name">名称</label>

            <input type="text" id="name" v-model="name" >

            <button @click="handle" v-bind:disabled="test" >提交</button>
        </div>

  <table class="tableCss" rules="none">
      <thead >
     <tr>
         <th>编号</th>
         <th>名称</th>
         <th>时间</th>
         <th>操作</th>
     </tr>
      </thead>
      <tbody>
      <tr :key="item.id" v-for="item in books">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date | format('yyyy-MM-dd hh:mm:ss')}}</td>
          <td>
              <!--  禁止A标签的默认行为-->
              <a href="#" @click.prevent="upd(item.id)">修改</a>
              <span>|</span>
              <a href="#" @click.prevent="delboot(item.id)">删除</a>
          </td>
      </tr>
      </tbody>
  </table>
    </div>
</div>
      <script>
          //自定义指令
          Vue.directive( 'focus',{
              // 当被绑定的元素插入到 DOM 中时……
              inserted: function (el) {
                  //聚焦函数
                  el.focus()
              }
          });
           //调用过滤器   value ==提供要处理的数据 ,agr传处理出来的格式  format('yyyy-MM-dd hh:mm:ss')
           Vue.filter('format',function (value,agr){
               //调用外部格式化日期函数
               return dateFormat(value, agr);
           });
           new Vue({
               el:'.app',
               data:{
                   id:'',
                   name:'',
                   flag:false,
                   test:false,
                   date: new Date(),
                 books:[{
                     id:'1',
                     name:'三国演义',
                     date:new Date(),
                 },
                     {
                         id:'2',
                         name:'水浒传',
                         date:new Date()
                     },
                     {
                         id:'3',
                         name:'红楼梦',
                         date:new Date()
                     },
                     {
                         id:'4',
                         name:'西游记',
                         date:new Date()
                     },]
               },
               methods: {
                   handle: function () {
                       if (this.flag) {
                           //编辑操作
                           //根据当前的id去更新数组中对应的数据
                           for (var i = 0; 1 < this.books.length; i++) {
                               if (this.id == this.books[i].id) {
                                   this.books[i].name = this.name;
                                   return true;
                               }
                           }
                           this.flag=false;
                       }
                        else {
                       //添加图书，创建一个对象接收传过来的id和name，再赋值给对象属性
                       var book = {};
                       book.id = this.id;
                       book.name = this.name;
                       book.date = this.date;
                       // 最后添加到数组
                       this.books.push(book);
                       //清空表单
                           this.id = "";
                           this.name = "";
                       }

                       this.id = "";
                       this.name = "";
                   },
                   upd: function (id) {
                       //禁止修改id
                       this.flag=true;
                       //循环遍历出来id
                       for (var i = 0; i < this.books.length; i++) {
                           //判断传过来的id是否于数组里面的id相等
                           if (id == this.books[i].id){
                               //然后赋值给文本框
                               this.id=this.books[i].id;
                               this.name=this.books[i].name;
                           }
                       }
                   },
                   delboot:function (id) {
                       //删除图书
                       //根据id从数组中查找元素的索引
                       var index = this.books.findIndex(function(item){
                           return item.id ==id;
                       });
                       this.books.splice(index,1);
                   },

                   Verify:function (uname) {
                       for (var i = 0; i < this.books.length; i++)
                       {
                          if (uname === this.books[i].name)
                          {
                              this.test = true;

                          }
                          else {
                              this.test =false;
                          }
                       }
                   }
               },
               //监听器
               watch:{
                   //监听name属性
                  name:function (uname) {
                      //验证图书名称是或存在
                      //调用一下验证图书的方法
                         this.Verify(uname);
                  }
               }
           });
      </script>
</body>
</html>